<!DOCTYPE html>
<html>
<head>
  <title>Myrottenpotatoes2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<% if flash[:notice] %>
    <div class="message" id="notice">
      <%= flash[:notice] %>
    </div>
<% elsif flash[:warning] %>
    <div class="message" id="warning">
      <%= flash[:warning] %>
    </div>
<% end %>

</body>
</html>
